.jumbotron {
    background-color: #a58b8b;
    color: black;
    margin-top: 50px;
    margin-bottom: 0px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: #a58b8b;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-miguel {
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

#login1 {
    background-image: url(../img/phone-font-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.formulario {
    background: rgb(0 0 0 / 51%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(247 243 243 / 57%);
    color: white;
}

.form-control {
    background: rgba(0, 0, 0, .3);
    border-style: none;
    transition: 0.5s ease-in;
    outline: none;
    box-shadow: none;
    color: #f8f9fa;
}

.form-control:focus {
    background: none;
    box-shadow: none;
    outline: none;
}

.form-control::placeholder {
    color: rgb(241, 241, 241);
}

#Continuar {
    color: #0098cb;
}

.ingresar {
    background: #222A3F;
    padding: 10px;
    font-size: 16px;
    font-weight: 700!important;
    color: white;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.568);
    transition: 0.5s ease-in;
}

.ingresar:hover {
    color: rgb(7, 7, 7);
}

.olvide {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
}

.olvide:hover {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}

.olvide1 {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    font-size: 20px;
    font-weight: 700!important;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .5);
}

.olvide1:hover {
    color: white;
    text-decoration-style: none;
    text-decoration-line: none;
    cursor: pointer;
}

#inicio {
    background-image: url(../img/Distant\ Mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#login {
    background-image: url(../img/phone-font-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#registro {
    background-image: url(../img/slide\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#gallery,
#contacto {
    padding-top: 4rem;
}

header {
    display: block;
}

#cargando {
    display: none;
}

a {
    color: #1a64ad;
    text-decoration: none;
    background-color: transparent;
}

.nav-item {
    width: 100%;
}

.btnRegistrar {
    color: var(--white);
    text-transform: initial;
}

.btnRegistrar:hover {
    color: #0098cb;
    text-decoration: none;
}

.navbar-a {
    color: var(--white);
    text-transform: initial;
}

.navbar-a:hover {
    color: cadetblue;
    text-decoration: none;
}

.bg-dark {
    background-color: #343a40 !important;
}

navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-a::after,
.navbar-a::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 0;
    border: 2px;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: rgb(70, 77, 64);
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

nav {
    color: #fff;
    background-color: #ee6e73;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

button:focus {
    outline: none;
    background-color: rgb(70, 77, 64);
}

.brand {
    color: rgb(235, 240, 240);
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    margin-bottom: 40px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}

.input {
    background-color: rgb(212, 203, 203);
    border-color: #2c2c2c;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    max-width: 100%;
    width: 100%;
}

.label {
    color: #cfcfcf;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}

.subtitle {
    color: #f2f2f2;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
}

.sabor {
    color: #fff;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}


/*
estilo de materialize
*/

.carousel {
    min-height: 500px;
}

.carousel .carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    width: 500px;
    height: 500px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 15px;
}

.carousel .indicators .indicator-item {
    border-radius: 0;
    transform: rotate(45 deg);
    margin: 0 15px;
    background: #36221c;
}

.my-footer-ul {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}

.my-footer-item {
    background: var(--white);
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.my-footer-link {
    display: block;
}

.facebook,
.facebook:hover {
    color: #3b5998 !important;
}

.pinterest,
.pinterest:hover {
    color: #e60023 !important;
}

.twitter,
.twitter:hover {
    color: #5da9dd !important;
}

.instagram,
.instagram:hover {
    color: #2c2c2c !important;
}

.my-footer .container-hero {
    padding-bottom: 30px;
}

.my-footer .footer-p {
    margin-top: 4rem;
}

.my-footer .my-hero {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .my-footer-ul {
        width: 50%;
        margin: 0 auto;
    }
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
}


/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
    /* 1 */
    overflow: visible;
}


/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
    /* 1 */
    text-transform: none;
}


/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}


/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}


/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

.button.is-medium {
    font-size: 1.25rem;
}

.button.is-fullwidth {
    display: flex;
    width: 100%;
}

.title {
    color: white;
    text-transform: uppercase;
    margin-top: 2rem;
}

.button {
    background-color: rgb(53, 52, 52);
    border-color: #dbdbdb;
    border-width: 1px;
    color: #f5f0f0;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.375em - 1px);
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: calc(0.375em - 1px);
    text-align: center;
    white-space: nowrap;
}


/*---*/

.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-modal:checked~.modal {
    opacity: 1;
    visibility: visible;
}

.contenedor {
    width: 400px;
    height: 300px;
    margin: auto;
    background: #fff;
    box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
    transition: all 500ms ease;
    position: relative;
    transform: translateY(-30%);
}

#btn-modal:checked~.modal .contenedor {
    transform: translateY(0%);
}

.contenedor header {
    padding: 10px;
    background: #170153;
    color: #fff;
}

.contenedor label {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

#btn-modal {
    overflow: visible;
    display: none;
    text-transform: none;
}

.lbl-modal {
    background: rgb(70, 53, 226);
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    color: rgb(241, 236, 236);
}

.lbl-modal:hover {
    color: rgb(18, 19, 18);
    display: -webkit-inline-flex;
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
    .contenedor {
        width: 95%;
    }
}


/*
estilos del login
*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


/* Input Forms*/

input[type="text"],
input[type="password"] {
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}

input[type="submit"] {
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00b8eb;
}