.junbotron {
    background-color: rgb(94, 94, 86);
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(189, 189, 167);
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-miguel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    align-items: flex-start;
}

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 0;
    -ms-flex-align: center;
    border-top: 1px solid;
    height: auto;
    text-align: right;
}

.ml-5,
.mx-5 {
    margin-left: 6rem!important;
    position: center;
    right: 0;
}